<template>
    <div id="app">
        <header-component></header-component>
        <router-view></router-view>
        <footer-component></footer-component>
    </div>
</template>

<style>
    @font-face {
        font-family: 'NB';
        src: url('/fonts/Nunito-Bold.ttf');
    }
    @font-face {
        font-family: 'NR';
        src: url('/fonts/Nunito-Regular.ttf');
    }
    @font-face {
        font-family: 'SR';
        src: url('/fonts/SourceSansPro-Regular.ttf');
    }
    @font-face {
        font-family: 'SB';
        src: url('/fonts/SourceSansPro-Bold.ttf');
    }
    
    #app {
        color: black;
        background: white !important;
        width: 100%;
        min-height: 100vh;    
        height: 100%;
        font-family: 'SB';
    }

    a {
        color: white;
    }
    h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    a:hover {
        text-decoration: none;
    }
</style>