<template>
    <div>
        <section class="home-header">
            <div class="overlay"></div>
            <div class="owl-carousel owl-theme text-center">
                <div class="item p-3">
                    <h4>
                        Berakit-rakit ke hulu, Berenang renang ketepian.
                    </h4>
                    <h4>
                        Bersakit-sakit dahulu, bersenang senang kemudian
                    </h4>
                    <h5 class="mt-4">- Orang tempo doeloe</h5>
                </div>
                <div class="item p-3">
                    <h4>
                        Duduk melamun di depan teras, Sambil mendengar burung tekukur.
                    </h4>
                    <h4>
                        Tak mengapa belajar keras, Siapa tau esok jadi direktur.
                    </h4>
                    <h5 class="mt-4">- Orang tempo doeloe</h5>
                </div>
            </div>
        </section>

        <section class="newer-post">
            <div class="container">
                <h3>Artikel Terbaru</h3>
                <div class="row">
                    <div class="newer-stage">
                        <a class="newer-item" href="#">
                            <div class="content">
                                <div class="category">
                                    <a class="item" href="#internet">
                                        Internet
                                    </a>
                                </div>
                                <div class="detail">
                                    <div class="info">
                                        <span class="date">4 Minggu Yang Lalu</span>
                                        <span class="look">200</span>
                                    </div>
                                    <span class="title">Lorem Ipsum Dolor sit amet dolor lorem dolor ipsum lorem dolor</span>
                                    <span class="description">
                                        Lorem ipsum dolor ismet amet dolor lorem dolor ipsum dolor ipsum lorem. Lorem ipsum dolor ismet amet dolor lorem dolor ipsum dolor ipsum lorem. 
                                    </span>
                                </div>
                            </div>
                        </a>
                        <div class="child">
                            <a class="newer-item">
                                <div class="content">
                                    <div class="category">
                                        <a class="item">
                                            Bokep
                                        </a>
                                    </div>
                                    <div class="detail">
                                        <div class="info">
                                            <span class="date">4 Minggu Yang Lalu</span>
                                            <span class="look">200</span>
                                        </div>
                                        <span class="title">Lorem Ipsum Dolor sit amet dolor lorem dolor ipsum lorem dolor</span>
                                        <span class="description">
                                            Lorem ipsum dolor ismet amet dolor lorem dolor ipsum dolor ipsum lorem. Lorem ipsum dolor ismet amet dolor lorem dolor ipsum dolor ipsum lorem. 
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <a class="newer-item">
                                <div class="content">
                                    <div class="category">
                                        <a class="item">
                                            Internet
                                        </a>
                                    </div>
                                    <div class="detail">
                                        <div class="info">
                                            <span class="date">4 Minggu Yang Lalu</span>
                                            <span class="look">200</span>
                                        </div>
                                        <span class="title">Lorem Ipsum Dolor sit amet dolor lorem dolor ipsum lorem dolor</span>
                                        <span class="description">
                                            Lorem ipsum dolor ismet amet dolor lorem dolor ipsum dolor ipsum lorem. Lorem ipsum dolor ismet amet dolor lorem dolor ipsum dolor ipsum lorem. 
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <a class="newer-item">
                                <div class="content">
                                    <div class="category">
                                        <a class="item">
                                            Android
                                        </a>
                                    </div>
                                    <div class="detail">
                                        <div class="info">
                                            <span class="date">4 Minggu Yang Lalu</span>
                                            <span class="look">200</span>
                                        </div>
                                        <span class="title">Lorem Ipsum Dolor sit amet dolor lorem dolor ipsum lorem dolor</span>
                                        <span class="description">
                                            Lorem ipsum dolor ismet amet dolor lorem dolor ipsum dolor ipsum lorem. Lorem ipsum dolor ismet amet dolor lorem dolor ipsum dolor ipsum lorem. 
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <div class="newer-item">
                                <div class="content">
                                    <div class="category">
                                        <a class="item">
                                            Programming
                                        </a>
                                    </div>
                                    <div class="detail">
                                        <div class="info">
                                            <span class="date">4 Minggu Yang Lalu</span>
                                            <span class="look">200</span>
                                        </div>
                                        <span class="title">Lorem Ipsum Dolor sit amet dolor lorem dolor ipsum lorem dolor</span>
                                        <span class="description">
                                            Lorem ipsum dolor ismet amet dolor lorem dolor ipsum dolor ipsum lorem. Lorem ipsum dolor ismet amet dolor lorem dolor ipsum dolor ipsum lorem. 
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 content-item">
                    </div>
                    <div class="col content-item">

                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import jquery from 'jquery';
var $ = jquery;
export default {
    mounted: () => {
        $('.owl-carousel').owlCarousel({
            nav: false,
            items: 1,
            dots: false,
            autoplay: true,
            autoplaySpeed: 200,
            autoplayHoverPause: true,
            mouseDrag: false,
            touchDrag: false,
            freeDrag: false,
            pullDrag: false,
            margin: 300,
            loop: true
        });
    }
}
</script>

<style>
    .home-header h1, 
    .home-header h2,
    .home-header h3, 
    .home-header h4,
    .home-header h5,
    .home-header h6 {
        color: white;
        letter-spacing: 10px;
        text-transform: uppercase;
    }
    
    .home-header {
        background: rgb(22,9,121);
        background: linear-gradient(90deg, rgba(22,9,121,1) 0%, rgba(41,94,172,1) 44%, rgba(0,212,255,1) 100%);
        background-size: cover;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .home-header > .overlay {
        background: rgba(0, 0, 0, 0.5);
        height: 450px;
        width: 100%;
        position: absolute;
    }
    
    .newer-post {
        width: 100%;
        margin-top: 20px;
    }
    
    .newer-post div.container 
    .row .newer-stage {
        height: 100%;
        display: flex;
        width: 100%;
        padding: 10px;
    }

    .newer-post div.container .row
    .newer-stage .newer-item {
        height: 500px;
        width: 50%;
        margin-top: 1px;
        background: url('/images/header-bg.jpg');
        background-size: cover;
        position: relative;
    }

    .newer-post div.container .row
    .newer-stage .newer-item:hover {
        transition: all .3s ease;
        opacity: 0.9;
    }

    .newer-post div.container .row
    .newer-stage .newer-item:after {
        content: "";
        background: linear-gradient(0deg, rgba(0,9,0,1) 0%, rgba(0,212,255,0) 100%);
        position: absolute;
        bottom: 0;
        height: 400px;
        width: 100%;
    }

    .newer-post div.container .row
    .newer-stage .child {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
    }

    .newer-post div.container .row
    .newer-stage .child .newer-item {
        height: 249px;
        width: 49.61%;
        margin: 1px;
        background: url('/images/header-bg.jpg');
        background-size: cover;
        position: relative;
    }

    .newer-post div.container .row
    .newer-stage .child .newer-item:after {
        content: "";
        background: linear-gradient(0deg, rgba(0,9,0,1) 0%, rgba(0,212,255,0) 100%);
        position: absolute;
        bottom: 0;
        height: 200px;
        width: 100%;
    }

    .newer-item .content {
        margin: 20px;
    }

    .newer-item > .content .category {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }

    .newer-item > .content .category a {
        background-color: white;
        margin: 0 3px 0 3px;
        font-size: 12px;
        padding: 8px;
        color: black;
        border-radius: 5px;
        text-transform: uppercase;
    }

    .newer-item > .content .detail {
        position: absolute;
        bottom: 20px;
        z-index: 1;
    }

    .newer-item > .content .detail .title {
        font-size: 28px;
        color: white;
        font-family: 'SB';
        
    }

    .newer-item > .content .detail .description {
        font-size: 14px;
        color: white;
        font-family: 'SR';
        margin-top: 20px;
        display: block;
        margin-bottom: 10px;
    }

    .newer-item > .content .detail .info {
        display: flex;
    }

    .newer-item > .content .detail .info .date {
        font-size: 14px;
        font-family: 'SR';
        color: white;
    }

    .newer-item > .content .detail .info .look {
        font-size: 14px;
        font-family: 'SR';
        color: white;
        margin-left: 20px;
    }

    .child .newer-item > .content .category {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }

    .child .newer-item > .content .category a {
        background-color: white;
        margin: 0 3px 0 3px;
        padding: 8px;
        color: black;
        border-radius: 5px;
        text-transform: uppercase;
    }

    .child .newer-item > .content .detail {
        position: absolute;
        bottom: 20px;
        z-index: 1;
    }

    .child .newer-item > .content .detail .title {
        font-size: 18px;
        color: white;
        font-family: 'SB';
        
    }

    .child .newer-item > .content .detail .description {
        font-size: 14px;
        color: white;
        font-family: 'SR';
        display: none;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .child .newer-item > .content .detail .info {
        display: flex;
    }

    .child .newer-item > .content .detail .info .date {
        font-size: 14px;
        font-family: 'SR';
        color: white;
    }

    .child .newer-item > .content .detail .info .look {
        font-size: 14px;
        font-family: 'SR';
        color: white;
        margin-left: 20px;
    }

    .content {
        height: 100%;
        width: 100%;
        margin-top: 20px;
    }

    .content .container .row .content-item {
        outline: 1px solid rgba(0, 0, 0, 0.4);
        height: 100px;
        margin: 10px;
    }
    /* .popular-post .popular-item .image {} */
</style>

