<template>
    <header class="fixed-top">
        <div class="container">
            <div class="navbar-custom">
                <h3>my blog</h3>
                <button class="menu">
                    Menu
                </button>
                <div class="collapse custom-collapse">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">Artikel Terbaru</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">Artikel Popular</a>
                        </li>
                    </ul>
                    <div class="author">
                        <a href="#">Author Login</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
// import jquery from 'jquery';

// var $ = jquery;
export default {
    
}
</script>

<style>
    header {
        width: 100%;
        padding: 30px 0 30px 0;
    }

    @media(min-width: 1000px) {
        header .container .navbar-custom {
            color: white;
            letter-spacing: 1px;
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        header .container .navbar-custom .menu {
            display: none;
        }

        .navbar-custom .custom-collapse {
            font-size: 16px;
            display: flex;
        }
        
        .navbar-custom .custom-collapse .nav {
            margin-right: 30px;
        }
        
        .navbar-custom .custom-collapse .nav .nav-item {
            margin-left: 10px;
            margin-right: 10px;
        }

        .navbar-custom .custom-collapse .nav .nav-item a {
            color: rgba(255, 255, 255, 0.7);
        }

    }
</style>